<script lang="ts">
    import '$lib/Muli.css'
    import '$lib/style.css'

    import Headline from '$lib/ui/Headline.svelte';
    import Sidebar from '$lib/ui/Sidebar/Sidebar.svelte';
    import { sidebarMenu } from './SidebarMenu.js';
</script>

<Headline/>
<Sidebar menu={sidebarMenu}/>
<div class="main">
    <slot/>
</div>

<style>
    .main {
        margin-top: 110px;
        transition: margin-left .5s;
        padding-top: 10px;
        padding-left: 10px;
    }
</style>
