<footer class="footer">
    <address>
        <table>
            <tr>
                <td>
                    <p translate="no">
                        Perinet GmbH<br>
                        Rudower Chaussee 29<br>
                        12489 Berlin
                    </p>
                </td>
                <td>
                    <p translate="no">
                        <a href="mailto:welcome@perinet.io">welcome@perinet.io</a><br>
                        <a href="https://perinet.io">www.perinet.io</a><br>
                        +49 30 86 32 06 700
                    </p>
                </td>
            </tr>
        </table>
    </address>
</footer>

<style>
    @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(/src/lib/fonts/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
    address {
        text-align: center;
        margin-top: 5px;
    }

    address table {
        margin: 0 auto;
        width: 100%;
        font-style: normal;
    }

    address td {
        width: 50%;
    }

    footer {
        background-color: #f6f6f6;
        color: #2a2459;
        padding: 1px 50px 1px 0px;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        bottom: 0;
        width: 100%;
        position: fixed;
    }

    footer nav :hover {
        color: #2a2459;
        font-weight: 600;
    }

    footer td p {
        text-align: left;
        padding-left: 40%;
    }

    td p {
        margin: 0;
    }
</style>
