<script lang="ts">
    import Hamburger from '$lib/ui/Hamburger.svelte';
    import Logo from "$lib/images/logo.svg"

    import {ApplicationName, ElementName, NODE_VARIANT } from '$lib/NodeConfig'
</script>

<div class="headline">
    <div>
        <img src={Logo} alt="Perinet Logo" width="180"/>
        <h2>
            {$NODE_VARIANT}
            {$ApplicationName}
            {$ElementName}
        </h2>
    </div>
    <div class="hamburger"><Hamburger/></div>
</div>

<style>
    .headline {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
    }
    .headline img {
        float:left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .headline h2 {
        position:relative;
        font-size: 1.4rem;
        padding-left: 280px;
        padding-top: 25px;
    }
    .headline .hamburger {
        position: fixed;
        top: 80px;
    }

</style>