<script lang="ts">
    export let options: string[] = [""];

    let selected: string;

    function on_select() {
        console.log(selected);
    }
</script>

<select bind:value={selected} on:change="{on_select}">
    {#each options as option }
        <option>{option}</option>
    {/each}
</select>

<style>
    select {
        border: hidden;
        background-color: #ffffff;
        padding: 2px 4px 2px 4px;
        margin: 0 0 0.5rem 0;
        color: #2A2459 !important;
        font-size: 1.0rem;
        border-radius: 8px;
        outline: none;
        margin-right: 10px;
        margin-top: 10px;
        float: inline-end;
    }
</style>
