<script lang="ts">
    import Icon from "$lib/images/node-active.svg"

    export let label: string;
    export let icon = Icon;
</script>

<section class="route_header">
    <table>
        <tr>
            <td><img src={icon} alt="periNODE" width="100"/></td>
            <td/>
            <td><h2>{label}</h2></td>
        </tr>
    </table>
    <p/>
</section>

<style>
table {
    margin: auto;
}
</style>
