<script lang="ts">
    import { SIDEBAR_SIZE_HIDDEN, sidebar_size } from '$lib/ui/Store'

    export let menu = [
        {
            label: "",
            link:""
        }
    ];

    function handle_link_click() {
        sidebar_size.set($SIDEBAR_SIZE_HIDDEN);
    }
</script>

<div class="sidebar_group">
    {#each menu as entry}
        <div class="content" on:click={handle_link_click} on:keypress={()=>{}}>
            <a href={entry.link}>{entry.label}</a>
        </div>
    {/each}
</div>

<style>
    .sidebar_group {
        padding: 8px 8px 8px 30px;
        display: block;
        transition: 0.5s;
        cursor: pointer;
    }
</style>
