<script lang="ts">
    import FlatMenu from "./FlatMenu.svelte";
    import FoldMenu from "./FoldMenu.svelte";

    export let menu = [];
</script>

<div class="menu">
    {#each menu as entry}
        {#if entry.folding == true}
            <FoldMenu heading={entry.name} menu={entry.menu} />
        {:else}
            <FlatMenu menu={entry.menu} />
        {/if}
    {/each}
</div>
